[submodule "FBImporter"]
	path = FBImporter
	url = https://github.com/yveskaufmann/sharkb_fbimporter
[submodule "TwitterImporter"]
	path = TwitterImporter
	url = https://github.com/pascalweiss/TwitterImporter.git
[submodule "YouTubeImporter"]
	path = YouTubeImporter
	url = https://github.com/frimelle/YouTubeImporter.git
