[submodule "FBImporter"]
	path = FBImporter
	url = https://github.com/yveskaufmann/sharkb_fbimporter
[submodule "TwitterImporter"]
	path = TwitterImporter
	url = https://github.com/pascalweiss/TwitterImporter.git
[submodule "Calendar"]
	path = Calendar
	url = https://github.com/jwnkmllr/Calendar
